.footer {
    display: flex;
    position: relative;
    background-color: #373737;
    color: white;
    text-align: center;
    background: #373737;
    box-sizing: border-box;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 560px;
}

.footer a {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    background: #373737;
    border: 1px solid #676767;
    text-decoration: none;
 
}

.footer > a .codpen-for {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;
}

.footer > a .for-futura {
    font-size: 1.4rem;
    vertical-align: center;
    font-family: 'Monda', sans-serif;    
    text-transform: uppercase;
    font-weight: bold;
}



}

    /* outline: thin;
    outline: white;
    color: white;
    justify-items: end;
    border: 10px white;
    font-size: 1.1em;
    padding: 0.5rem 1rem;
    color: white;
    text-align: center;
    border: 1px solid #676767;
} */